/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--yellow-theme-bg-color);
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --yellow-theme-bg-color : #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-bg-color: #181818;
}

